@import 'tailwindcss';

:root {
    --bg: #fff;
    --text: #6b6375;
    --border: #e5e4e7;

    font:
        18px/145% system-ui,
        'Segoe UI',
        Roboto,
        sans-serif;
    color: var(--text);
    background: var(--bg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #16171d;
        --text: #9ca3af;
        --border: #2e303a;
    }
}

body {
    margin: 0;
}

#root {
    width: 1126px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
